/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rooms
 *= require scaffolds
 *= require timeslots
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require_self
 *= require_tree .
 */

 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/fonts/glyphicons-halflings-regular.eot');
  src: url('../assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
 #banner {
   background: #9c9;
   padding: 10px;
   border-bottom: 2px solid;
   font: small-caps 40px/40px "Times New Roman", serif;
   color: #282;
   text-align: center;
   overflow: auto;

  img{
    float: left;
  }
 }
 #notice{
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
 }

 #columns {
    background: #141;
      #side {
        padding: 0.5em 2em;
        background: #141;
        overflow: hidden;

          form, div {
            display: inline;
          }

          input{
            font-size: small;
          }

          ul{
          padding: 0;
            li{
              list-style: none;
              display: inline-block;
              color: white;
              a{
                color: #bfb;
                font-size: 16pt;
                line-height: 30px;
              }
            }
          }
        }

        #main{
        padding: 1em;
        background: white;
        overflow: auto;
      }
    }

.room_search_form
{
  font-size: 20px;
  fieldset
  {
    background: #efe;
    max-width: 400px;

    legend
    {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  .centered{
    margin-bottom: 10px;
    label{
      width: 90px;
      text-align: right;
      padding-top: 0.2em;
      padding-right: 0.1em;
      display: inline-block;
    }
    select{
      width: 155px;
      margin: 0 auto;
      font-size: 20px;
    }
  }
  form
  {
    label
    {
      width: 105px;
      text-align: right;
      padding-top: 0.2em;
      padding-right: 0.1em;
      display: inline-block;
    }
    select, textarea, input
    {
      margin-left: 0.1em;
      font-size: 20px;
    }

    .submit
    {
      margin-left: 4em;
    }
    br
    {
      display: none;
    }
  }
}
