<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Day</th>
      <th>Room</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>

<%= render @timeslot %>
</tbody>
</table>
<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>
